body {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/041/516/original/davies-designs-studio-G-6kwVnClsE-unsplash.jpg?1658673955");
  }

 .container {
    max-width: 705px;
    margin: 60px auto;
    margin-bottom: 2px;
    min-width: 705px;
}

.current-weather,
.forecast-weather {
    border: none;
    margin: 20px auto;
    background-color: rgba(245, 243, 243, 0.6);
    padding: 20px 30px;
}

ul {
    list-style: none;
    padding-left: 0;
    float: right;
    
}

h1 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 10px;
}

#weather-description {
    margin-left: 10px;
    font-size: 16px;
    display: inline-block;
}

#weather-description::first-letter {
    text-transform: capitalize;
  }

.upd {
    font-size: 10px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}


.date {
    display: block;
    padding-top: 4px;
    padding-left: 12px;
}


.current-temperature strong {
font-size: 40px;
font-weight: 500;
}

.units {
    position: relative;
    top: -15px;
    font-size: 14px;
}

.real-feel-temp {
font-size: 14px;
text-align: right;

}

.current-sky {
font-size: 60px; 
position: relative;
right: 18px;  
top: 18px; 
}

.main-details,
.forecast-weather {
text-align: center;
}

.main-details {
margin-top: 14px;
}

.title {
    font-weight: 500;
    
}

.city-upd {
vertical-align: middle;
position: relative;
top: 15px;
margin-top: 0;
}



.main-section {
   margin-bottom: 8px;
}

.forecast-weather .row {
    margin: 10px 0px;
}


.units a {
    text-decoration: none;
    color: rgb(67, 67, 67);
}

.units .active {
color: black;
cursor: default;
text-decoration: none;
font-weight: 700;
}


.daily-forecast::after {
    background-color: black;
    content: "";
    display: block;
    height: 1px;
    text-decoration: underline;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.daily-forecast:hover::after {
    transform: scale(1);
  }

  .forecast-sky {
    position: relative;
    top: -10px;
  }

  footer {
    text-align: center;
    font-size: 10px;
    margin: 10px;
  }
  
 #search-button,
 #home-button {
    width: 72px;
    display: inline;

 }
 
 #search-input {
    width: 400px;
    display: inline;
    margin-left: 50px;
    
 }



 
 